body{
	/*TODO Поменять цвет заднего фона на Aqua*/
	background-color:Aqua;
	
	
}
/*TODO Сделать задний цвет заголовков в следующем порядке --> h1(Красный), h2(Оранжевый), h3(Жёлтый), h4(Зелёный), h5(Голубой), h6(фиолетовый) */
h1{
	color: red;
}
h2{
	color: orange;
}
h3{
	color: yellow;
}
h4{
	color: green;
}
h5{
	color: blue;
}
h6{
	color: purple;
}
/*Поменять цвет на синний*/
#tekst{
	background-color:white;
	color: blue;
}